@model EGames.Models.ChallengersRealmViewModel

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Challengers Realm - EGames</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
        <link rel="stylesheet" href="~/assets/admin/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/assets/admin/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/assets/admin/css/owl.carousel.css">
        <link rel="stylesheet" href="~/assets/admin/css/owl.theme.css">
        <link rel="stylesheet" href="~/assets/admin/css/owl.transitions.css">
        <link rel="stylesheet" href="~/assets/admin/css/meanmenu/meanmenu.min.css">
        <link rel="stylesheet" href="~/assets/admin/css/animate.css">
        <link rel="stylesheet" href="~/assets/admin/css/normalize.css">
        <link rel="stylesheet" href="~/assets/admin/css/scrollbar/jquery.mCustomScrollbar.min.css">
        <link rel="stylesheet" href="~/assets/admin/css/jvectormap/jquery-jvectormap-2.0.3.css">
        <link rel="stylesheet" href="~/assets/admin/notika-custom-icon.css">
        <link rel="stylesheet" href="~/assets/admin/css/wave/waves.min.css">
        <link rel="stylesheet" href="~/assets/admin/css/main.css">
        <link rel="stylesheet" href="~/assets/admin/css/style.css">
        <link rel="stylesheet" href="~/assets/admin/css/responsive.css">
        <script src="~/assets/admin/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        @if (!String.IsNullOrWhiteSpace(Model.DisplayMessage))
        {
            <script>
                $(document).ready(function () {
                    $("#modalDisplayMessage").modal('show');
                });
            </script>
        }
        <div class="modal fade" id="modalDisplayMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Alert</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <!--Body-->
                    <div class="modal-body">
                        <h3>@Model.DisplayMessage</h3>
                    </div>
                    <!--Footer-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-top-area">
        </div>

        <div class="mobile-menu-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="mobile-menu">
                            <nav id="dropdown">
                                <ul class="mobile-menu-nav">
                                    <li>
                                        <a data-toggle="collapse" data-target="#Charts" href="#">Home</a>
                                        <ul class="collapse dropdown-header-top">
                                            <li><a asp-area="" asp-controller="Admin" asp-action="Index">View Profile</a></li>
                                            <li><a asp-area="" asp-controller="Admin" asp-action="Logout">Logout</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a data-toggle="collapse" data-target="#demoevent" href="#">Games</a>
                                        <ul id="demoevent" class="collapse dropdown-header-top">
                                            <li><a asp-area="" asp-controller="Admin" asp-action="ColorBingo">Color Bingo</a></li>
                                            <li><a asp-area="" asp-controller="Admin" asp-action="BrainGame">Brain Game</a></li>
                                            <li><a asp-area="" asp-controller="Admin" asp-action="WordPuzzle">Word Puzzle</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-menu-area mg-tb-40">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                            <li>
                                <a data-toggle="tab" href="#Home"><i class="notika-icon notika-house"></i> Home</a>
                            </li>
                            <li class="active">
                                <a data-toggle="tab" href="#mailbox"><i class="notika-icon notika-mail"></i> Games</a>
                            </li>
                        </ul>
                        <div class="tab-content custom-menu-content">
                            <div id="Home" class="tab-pane notika-tab-menu-bg animated flipInX">
                                <ul class="notika-main-menu-dropdown">
                                    <li>
                                        <a asp-area="" asp-controller="Admin" asp-action="Index">View Profile</a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Admin" asp-action="Logout">Logout</a>
                                    </li>
                                </ul>
                            </div>
                            <div id="mailbox" class="tab-pane in active notika-tab-menu-bg animated flipInX">
                                <ul class="notika-main-menu-dropdown">
                                    <li>
                                        <a asp-area="" asp-controller="Admin" asp-action="ColorBingo">Color Bingo</a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Admin" asp-action="BrainGame">Brain Game</a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Admin" asp-action="WordPuzzle">Word Puzzle</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="notika-status-area">
            <div class="container">
            </div>
        </div>

        <div class="sale-statistic-area">
            <div class="container">
                <h3 style="color:red; font-size:medium">@Model.ErrorMessage</h3>
                <h3 style="color:green; font-size:medium">@Model.SuccessMessage</h3>
                <div class="row">
                    <h1 style="text-align:center; font-size:medium; font-style:italic">Welcome To The Challengers Realm, Where users battle against each other to win the challenge prize</h1>
                    <br />
                    <br />
                    @if (Model.IsChallengeValid)
                    {
                        @if (Model.IsGameStarted)
                        {
                            @if (!Model.IsChallengedJoined)
                            {
                                @if (Model.IsUserChallenged)
                                {
                                    <p><b>Your yet to join Game, Kindly go back to your challenge list and click on the play game button. ;-) don't worry your coming back here.</b></p>
                                }
                                else if (Model.IsGameHost)
                                {
                                    <p><b>User challenged is yet to start Game, Kindly hold on for user to join game. ;-) Enjoy your game, have fun and win the prize money.</b></p>
                                    <br />
                                    <p style="color:red; font-size:medium">Note: Page reloads automatically after every 2 seconds so as to check when the user joins the game </p>
                                    <script>
                                        window.setTimeout(function () {
                                            window.location.reload();
                                        }, 2000);
                                    </script>
                                }
                                else
                                {
                                    <p><b>Your Not Mean't To Be Here!!</b></p>
                                }
                            }
                            else
                            {
                                @if (Model.GameType == EGamesData.Models.GameType.BrainGame)
                                {
                                    <div class="sale-statistic-inner notika-shadow mg-tb-30">
                                        <div class="col">
                                            <div class="form-check">
                                                <p><b>Please, Kindly note the following;</b></p>
                                                <ul>
                                                    <li>Game will last for only 30 seconds and starts counting immeduately the game host starts the game.</li>
                                                    <li>You can click on the submit button if you finish before the given time, as the time used also counts to determine the winnner in a case where there is a draws (at least 2 points gotten)</li>
                                                    <li>The user with the highest points gets the prize money</li>
                                                    <li>In a case where there is a solid draw, both users are refunded back with 30% of the amount staked.</li>
                                                    <li>Please, do not leave this page until game has ended!! You automatically forfiet the game if you do</li>
                                                    <li>Best of luck. ;-) Enjoy your game</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-check">
                                                <label>Question 1: @Model.Question1.Question</label>
                                                <input class="form-control" type="text" placeholder="Answer" id="ans1">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-check">
                                                <label>Question 2: @Model.Question2.Question</label>
                                                <input class="form-control" type="text" placeholder="Answer" id="ans2">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-check">
                                                <label>Question 3: @Model.Question3.Question</label>
                                                <input class="form-control" type="text" placeholder="Answer" id="ans3">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-check">
                                                <label>Question 4: @Model.Question4.Question</label>
                                                <input class="form-control" type="text" placeholder="Answer" id="ans4">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-check">
                                                <label>Question 5: @Model.Question5.Question</label>
                                                <input class="form-control" type="text" placeholder="Answer" id="ans5">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <button id="btnSubmitAns" hidden="hidden" type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("EndChallengeGame", "Admin", new { answer1 = "__ans1__", answer2 = "__ans2__", answer3 = "__ans3__", answer4 = "__ans4__", answer5 = "__ans5__" })'
                                            .replace('__ans1__', document.getElementById('ans1').value)
                                            .replace('__ans2__', document.getElementById('ans2').value)
                                            .replace('__ans3__', document.getElementById('ans3').value)
                                            .replace('__ans4__', document.getElementById('ans4').value)
                                            .replace('__ans5__', document.getElementById('ans5').value)">
                                                    Submit
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    @if (Model.IsGameHost)
                                    {
                                        <script>
                                            window.setTimeout(function () {
                                                document.getElementById("btnSubmitAns").click();
                                            }, 30000)
                                        </script>
                                    }
                                    else
                                    {
                                        <script>
                                            window.setTimeout(function () {
                                                document.getElementById("btnSubmitAns").click();
                                            }, 32000)
                                        </script>
                                    }

                                }
                                else
                                {
                                    <p><b>Sorry, The game type selected is still in production phase, Kindly try the brain game challenge. ;-) don't worry we are working on it.</b></p>
                                }
                            }
                        }
                        else
                        {
                            @if (Model.IsGameHost)
                            {
                                <p><b>Your yet to start Game, Kindly go back to your challenge list and click on the play game button. ;-) don't worry your coming back here.</b></p>
                            }
                            else if (Model.IsUserChallenged)
                            {
                                <p><b>Game Host is yet to start Game, Kindly hold on for game host to start game. ;-) Enjoy your game, have fun and win the prize money.</b></p>
                                <br />
                                <p style="color:red; font-size:medium">Note: Page reloads automatically after every 2 seconds so as to check when the game host starts the game </p>
                                <script>
                                    window.setTimeout(function () {
                                        window.location.reload();
                                    }, 2000);
                                </script>
                            }
                            else
                            {
                                <p><b>Your Not Mean't To Be Here!!</b></p>
                            }
                        }
                    }
                    else
                    {
                        <h3 style="color:orangered; font-size:medium">Sorry, Challenge Is Invalid, Please go back to your challenge list and click on the play or join game button for the challenge you wish to play.</h3>
                    }
                </div>
            </div>
        </div>

        <div class="footer-copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="footer-copy-right">
                            <p>© 2020 E-GAMES HUB. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="~/assets/admin/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="~/assets/admin/js/bootstrap.min.js"></script>
        <script src="~/assets/admin/js/wow.min.js"></script>
        <script src="~/assets/admin/js/jquery-price-slider.js"></script>
        <script src="~/assets/admin/js/owl.carousel.min.js"></script>
        <script src="~/assets/admin/js/jquery.scrollUp.min.js"></script>
        <script src="~/assets/admin/js/meanmenu/jquery.meanmenu.js"></script>
        <script src="~/assets/admin/js/counterup/jquery.counterup.min.js"></script>
        <script src="~/assets/admin/js/counterup/waypoints.min.js"></script>
        <script src="~/assets/admin/js/counterup/counterup-active.js"></script>
        <script src="~/assets/admin/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="~/assets/admin/js/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
        <script src="~/assets/admin/js/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
        <script src="~/assets/admin/js/jvectormap/jvectormap-active.js"></script>
        <script src="~/assets/admin/js/sparkline/jquery.sparkline.min.js"></script>
        <script src="~/assets/admin/js/sparkline/sparkline-active.js"></script>
        <script src="~/assets/admin/js/flot/jquery.flot.js"></script>
        <script src="~/assets/admin/js/flot/jquery.flot.resize.js"></script>
        <script src="~/assets/admin/js/flot/curvedLines.js"></script>
        <script src="~/assets/admin/js/flot/flot-active.js"></script>
        <script src="~/assets/admin/js/knob/jquery.knob.js"></script>
        <script src="~/assets/admin/js/knob/jquery.appear.js"></script>
        <script src="~/assets/admin/js/knob/knob-active.js"></script>
        <script src="~/assets/admin/js/wave/waves.min.js"></script>
        <script src="~/assets/admin/js/wave/wave-active.js"></script>
        <script src="~/assets/admin/js/todo/jquery.todo.js"></script>
        <script src="~/assets/admin/js/plugins.js"></script>
        <script src="~/assets/admin/js/chat/moment.min.js"></script>
        <script src="~/assets/admin/js/chat/jquery.chat.js"></script>
        <script src="~/assets/admin/js/main.js"></script>
    </body>
</html>